@inherits ProductsBase

@if(Products == null)
{
    <h3>Loading...</h3>
}
else
{
    var productCount = Products.Count();

    const int itemsPerRow = 4;
    @if(productCount > 0)
    {
        var productsInLine = new List<ProductDto>();
        @for(int i = 0; i < productCount; i++)
        {
            productsInLine = Products.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();

            <div class="row mt-3">
                @foreach(var product in productsInLine)
                {
                    <div class="col-md-3 mb-2">
                        <a href="/Product/@product.Id" class="card-text">
                            <div class="card">
                                <img class="img-thumbnail" src="@product.ImageUrl">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">@product.Name</h5>
                                    <marquee class="card-text" direction="right" onmouseover="this.stop()" onmouseout="this.start()">
                                        <b>@product.Price.ToString("C")</b>
                                    </marquee>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
    }
}